@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (columns: 12, gutter: 1 / 4, math: fluid, global-box-sizing: border-box);

@include border-box-sizing;


.app {
  @include container(1140px);

  background-color: #ccc;
  height: auto;
  margin: 0 auto;
}

.leftContainer {
  @include span(4 of 12);

  background-color: black;
  height: auto;

  .eventList {
  	.eventItem {
  	}
  }
}

.rightContainer{
  @include span(8 of 12 last);
  height: auto;
}