@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

$susy: (columns: 12, gutter: 1 / 4, math: fluid, global-box-sizing: border-box);

@include border-box-sizing;

.app {
    @include container(1140px);

    background-color: #ccc;
    height: auto;
    margin: 0 auto;
}

.leftContainer {
    @include span(3 of 12);

    background-color: black;
    height: 100%;

    .eventList {
        height: 100%;

        .item {
            cursor: pointer;
            height: auto;

            i.dismiss {
                display: none;
            }

            &:hover {
                .dismiss {
                    display: table-cell;
                }
            }
        }

        div.item .content {
            margin-bottom: 10px;
        }
    }
}

.rightContainer {
    @include span(9 of 12 last);

    height: 100%;

    > div {
        clear: both;
    }

    .searchBar {
        height: auto;
    }

    .contentWrapper {
        height: auto;

        .mapView {
            height: auto;

            #map {
            	height: 500px;
            }
        }
    }
}
